
<div class="row">
    <div class="col-lg-3">
        <button class="btn  btn-default" ng-click="addRow()">addRow</button>
    </div>
    <div class="col-lg-3">
        <select ng-model="add.column">
            <option value="1">Name</option>
            <option value="2">Surname</option>
            <option value="3">Occupation</option>
            <option value="4">Age</option>
        </select>
    </div>
    <div class="col-lg-3">
        <button class="btn btn-default" ng-click="addColumn()">Add Column</button>
    </div>
    <div class="col-lg-3">
        <button class="btn btn-default" ng-click="removeColumn()">Remove Column</button>
    </div>

</div>